.authorization-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px;
  width: 500px;
  border: 3px dotted #ccc;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 90%;
    text-align: center;
  }

  &__input {
    padding: 0 10px;
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;

    &:focus {
      border: 1px solid #f00;
    }
  }

  &__password-icon {
    position: absolute;
    left: 80%;
    font-size: 12px;
    cursor: pointer;
  }

  &__change-form {
    position: absolute;
    top: 4%;
    left: 76%;
    font-size: 12px;
    cursor: pointer;
  }

  &__submit {
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
  }

  &__unsubscribe {
    font-size: 12px;
    cursor: pointer;
  }
}
