.password-reset-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px;
  width: 500px;
  background-color: #f603;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    width: 90%;
    text-align: center;
  }

  &__input {
    padding: 0 10px;
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;

    &:focus {
      border: 1px solid #f00;
    }
  }

  &__input-title {
    padding: 5px;
  }

  &__change-form {
    position: absolute;
    top: 4%;
    right: 4%;
    color: #00c;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }

  &__submit {
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #f00;
    color: #fff;
    cursor: pointer;

    &:disabled {
      background-color: #f004;
      cursor: default;
    }
  }

  &__description {
    padding: 10px;
    width: 55%;
    text-align: center;
  }
}
